.clear {
	clear: both;
}
#in_city {
	background: #ddd;
	position: absolute;
	z-index: 999;
	border: solid 1px #022961;
	background: #022961;
	padding-bottom: 6px;
    margin-top: 10px;
}

.screen {
	overflow: hidden;
}

.screen a {
	float: left;
	color: rgba(255, 255, 255, 0.8);
	padding: 1px 12.6px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	border-bottom: solid 1px #666666;
}

.screen a:hover {
	color: #fff;
}

.screen .shar {
	color: #fff;
	border: solid 1px #666666;
	border-bottom: none;
}

.city_a_le1 {
	padding:10px;
	overflow: hidden;
}

.city_a_le1 a {
	float: left;
	width: 20%;
	font-size: 14px;
	color:rgba(185, 189, 209, 0.86);
	margin: 2px 0;
	text-decoration: none;
}

.Letter span {
	width: 12%;
	float: left;
	text-align: center;
	padding: 2px 0;
	color:'#9fa8c1';
}

.Letter div {
	width: 88%;
	float: left;
}

.city_a_le1 a:hover {
	color: #fff;
}

.Letter div a {
	width: 25%;
}

#in_city h1 {
	padding: 10px 0;
	color: #ababab;
	text-indent: 3%;
}

input {
	border: solid 1px #e1e1e1;
	height: 28px;
	border-radius: 3px;
	text-indent: 10px;
	margin: 20px 0 10px 10px;
	/* width: 100px; */
}